# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/*
venv311/
env/
ENV/

# Logs
logs/
*.log

# Models
it-da-ai-server/models/

# IDE
.idea/
*.iml
.vscode/
it-da-ai-server/data/synthetic_interactions_nationwide.csv
it-da-ai-server/data/synthetic_meetings_nationwide.csv
it-da-ai-server/data/synthetic_users_nationwide.csv
data/nsmc/*.txt
.env
. e n v 
 
 i t - d a - a i - s e r v e r / . e n v 
 
 
it-da-ai-server/env.zip
it-da-ai-server/models.zip
it-da-ai-server/.env.example
k- -- .
it-da-ai-server/models (2).zip
it-da-frontend/src/api/userChat.api.ts
it-da-ai-server/models/kcelectra_sentiment_with_typo/
it-da-ai-server/models/kcelectra_sentiment_with_typo/
it-da-ai-server/app/models/kcelectra_sentiment_with_typo/
it-da-ai-server/models(path=it-da,it-da-ai-server,models.zip
it-da-ai-server/app/models(path=it-da,it-da-ai-server,app,modles.zip
it-da-ai-server/venv/
